<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <getTests>
        <processor type="Sitecore.ContentTesting.Pipelines.GetTests.GetComponentTests, Sitecore.ContentTesting" >
          <patch:attribute name="type">Sitecore.Support.ContentTesting.Pipelines.GetTests.GetComponentTests,Sitecore.Support.205158</patch:attribute>
        </processor>
        <processor type="Sitecore.ContentTesting.Pipelines.GetTests.GetPersonalizationTests, Sitecore.ContentTesting" >
          <patch:attribute name="type">Sitecore.Support.ContentTesting.Pipelines.GetTests.GetPersonalizationTests,Sitecore.Support.205158</patch:attribute>
        </processor>
      </getTests>
    </pipelines>
  </sitecore>
</configuration>